<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Selenium Demos</title>
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
</head>
<body>
    <h2>Selenium Demos</h2>
    <ol>
        <li>@Ajax.ActionLink("Hello World", "HelloWorld", null)</li>
    </ol>
</body>
</html>